body {
  font: 12px sans-serif;
  text-align: center;
  overflow: hidden;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
button {
  border-radius: 6px;
  background: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  border: none;
  padding: 12px 15px;
  box-shadow: inset 0 0 0 1px var(--figma-color-text-disabled);
  outline: none;
  cursor:pointer;
}
button:disabled {
  opacity: 0.7;
  cursor: default;
}
button:not(:disabled):hover {
  background: var(--figma-color-bg-tertiary);
}

.optionsWrapper {
  position: absolute;
  width: 80%;
  margin-left: 20%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  z-index: 2;
}

.optionsContainer {
  position: absolute;
  background-color: var(--figma-color-bg-tertiary);
  border-radius: 24px 0px 24px 24px;
  overflow: hidden;
  border: 1px solid transparent;
  right: 6px;
  top: 8px;
  color: var(--figma-color-text);
}

.optionToggle {
  color: white;
  padding: 12px;
  background: var(--figma-color-bg-brand);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: flex-end;
}

.optionToggle:hover {
  background: var(--figma-color-bg-brand-hover)
}

.imageArea {
  height: 100%;
  background: var(--figma-color-bg-secondary);
  margin: 8;
  margin-top: 0;
  border-radius: 6px;
  border: 1px solid var(--figma-color-text-disabled);
  overflow-y: scroll;
  overflow-x: hidden;
}

#compress {
  box-shadow: none;
  background: var(--figma-color-bg-brand);
  color: white;
}
#compress:not(:disabled):hover {
  background: var(--figma-color-bg-brand-hover);
}

#compress:disabled {
  opacity: 0.3;
  cursor: default;
}

.qualityLabelContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.imageRow {
  padding: 12px;
  border-bottom: 1px solid var(--figma-color-text-disabled);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.imageRow:hover {
  background: var(--figma-color-bg-tertiary);
}


/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.imageArea::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: var(--figma-color-text-disabled);
  border-radius: 6px;
  /* or add it to the track */
}
.imageArea::-webkit-scrollbar-thumb {
  background: var(--figma-color-text);
  border-radius: 6px;
}
